/* RESET */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol{
	list-style: none;
}

/* LAYOUT */
.container {
	max-width: 900px;
	margin: 0 auto;
}

.nav .row{
	justify-content: space-between;	
}

.nav .main-menu{
	display: flex;
	align-items: center;
	gap: 10px;

}

.container-small{
	max-width: 700px;
	margin: 0 auto;
}


.row {
	display: flex;
	flex-wrap: wrap;
}

.col-50{
	width: 50%;
}

.col-33{
	width: calc(100% / 3);
}

.col-66{
	width: calc(2 * 200% / 6);	
}

.col-20{
	width: calc(100% / 4);
}

.col-33{
	width: calc(100% / 3);
}

.col-1-6{
	width: calc(100% / 6);
}


/* UTILITIES */
.reverse {
	flex-direction: row-reverse;
}

.space-between{
	justify-content: space-between;
	align-items: center;
}

.no-wrap{
	flex-wrap: nowrap;
}











/* DEBUG */
.debug .container {
	border: 2px solid black;
	padding: 10px;
}

.debug .container-small{
	border: 2px solid black;
	padding: 10px;
}

.debug .row  {
	border: 2px solid orange;
	padding: 10px;
}

.debug .reverse {
	border: 2px solid orange;
	padding: 10px;
}

.debug .space-between {
	border: 2px solid orange;
	padding: 10px;
}

.debug .no-wrap {
	border: 2px solid orange;
	padding: 10px;
}

.debug [class^='col'] {
	border: 2px solid red;
	padding: 10px;
	min-height: 80px;
}