/* RESET */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


/* LAYOUT */
.container {
	max-width: 800px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.reverse {
	flex-direction: row-reverse;
}

.space-between{
	justify-content: space-between;
	align-items: center;
}

.no-wrap{
	flex-wrap: nowrap;
}

.col-25{
	width: 25%;
}

.col-50{
	width: 50%;
}

.col-30{
	width: 30%;
}

.col-70{
	width: 70%;	
}

.col-20{
	width: calc(100% / 4);
}

.col-33{
	width: calc(100% / 3);
}

.col10{
	width: 10%;
}









/* DEBUG */
.debug .container {
	border: 2px solid black;
	padding: 10px;
}

.debug .row  {
	border: 2px solid orange;
	padding: 10px;
}

.debug .reverse {
	border: 2px solid orange;
	padding: 10px;
}

.debug .space-between {
	border: 2px solid orange;
	padding: 10px;
}

.debug .no-wrap {
	border: 2px solid orange;
	padding: 10px;
}

.debug [class^='col'] {
	border: 2px solid red;
	padding: 10px;
	min-height: 100px;
}